body{
    background:url(/Untitled.jpeg);
    background-size: cover;
}
.card-body{
    background-color: rgb(254, 254, 254);
    font-weight: bold;
    font-size: 20px;
}
.navbar-dark bg-dark{
    background: linear-gradient(90deg,);
}
.main-heading{
    color: #fff;
}
