body{
    background:url(/Untitled.jpeg);
   background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    
}
.card-body{
    background-color: rgb(176, 50, 50);
    font-weight: bold;
    font-size: 20px;
}
.navbar-dark bg-dark{
    background: linear-gradient(90deg,);
}
.main-heading{
    color: rgb(99, 19, 19);
}

.clip{
    background-color: blue;
}
